@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html{
    scroll-behavior: smooth;
}

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


#my-scrollbar {
  width: 100%;
  height: 100vh;
  overflow: auto;
}


/*NAVBAR*/
nav{
    position: static;
    background: linear-gradient(black,#101010);
    top: 0;
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
    opacity: 100%;
    animation: slideInFromLeft 0.5s;
}
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

nav h1{
    color: white;
    font-family: Montserrat, sans-serif;
    font-weight: default;
    font-weight: 100;
    margin-left: 10px;
    margin-top: 5px;
}
nav ul{
    margin: 0;
    padding: 0;
    display: flex;
    animation: opacityFade 2s;
}
@keyframes opacityFade {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
nav ul li{
    list-style: none;
}
nav ul li a{
    color:#fff;
    padding: 0 20px;
    font-size: 1.1em;
    text-decoration: none;
}
.anitext{
 margin-right: 10px;

}
nav ul li a.anitext:hover{
  background-color: white;
  color: black;
  box-shadow: 0 0 10px white;
  transition:color 0.5s;
}
@media only screen and (max-device-width: 500px) {
    nav ul li .anitext{
        color:#fff;
        padding: 0 0;
        font-size: 1.1em;
        text-decoration: none;
    }
}

/*PAGE1*/
.page{
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url(img/melachonic-fieldpaths.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

  .main{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 30%;
    right: 10%;
  }
  h1.headings{
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 3rem;
    text-align: center;
    margin: 40px 0px;
    color: white;
  }
  
  .home-btn{
    padding: 10px 35px;
    text-decoration: none !important;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    transition: .6s ease;
  }
  .home-btn:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;
    font-weight: bold;
  }

  /*Page2*/
  section.aboutus{
    position: relative;
    width: 100%;
    height: 70vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(#0f2027, #203a43, #2c5364);
    flex-direction: column;
    background-position: center;
  }

  .aboutus-containers{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 30%;
    left: 10%;
  }

  .about-heading{
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 3rem;
    text-align: center;
    margin: 40px 0px;
    color: white;
  }
  .about-paragraph{
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
    margin: 40px 0px;
    color: white;
  }


  /*PAGE3*/
.quarters{
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background: url(img/faiths1_The_Titanic_crashing_on_a_lighthouse_in_the_Atlantic_Oc_24099558-3f56-48ea-90a1-b2816c09d760.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.row-page3{
  display: flex;
  height: 88%;
  align-items: center;
}
.col-page3{
  flex-basis: 50%;
}
.page3-title{
  color: #fff;
  font-size: 100px;
  margin-left: 30px;
  -webkit-text-decoration-line: underline; 
  text-decoration-line: underline; 

}
.page3-titlebox{
  width: 32rem;
  background: linear-gradient(to right, #151515, rgba(255, 255, 255, 0));
  border-bottom: 1px solid white;
  border-top: 1px solid white;
}
.page3-about{
  color:#fff;
  font-size: 11px;
  line-height: 15px;
}
.page3btn{
    padding: 10px 35px;
    text-decoration: none !important;
    background-color: black;
    border: 1px solid red;
    color: white;
    transition: .6s ease;
}

.page3btn:hover{
  cursor: pointer;
  background-color: black;
  color: white;
  box-shadow: 0 0 5px black, 0 0 10px black, 0 0 15px black;
  font-weight: bold;
}
.card img{
  height: 175px;
  width: 275px;
  border-radius: 7px;
}
.card{
  width: 20rem;
  height: 25rem;
  display: inline-block;
  border-radius: 10px;
  padding: 15px 25px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 10px 15px;
  background-position: center;
  background-size: cover;
  transition: transform 0.5s;
}
.card1{
  background-color:rgba(255,255,255,0.1);
  border-radius:1rem;
  backdrop-filter:blur(1.2rem);
}
.card2{
  background-color:rgba(255,255,255,0.1);
  border-radius:1rem;
  backdrop-filter:blur(1.2rem);
}
.card3{
  background-color:rgba(255,255,255,0.1);
  border-radius:1rem;
  backdrop-filter:blur(1.2rem);
}
.card4{
  background-color:rgba(255,255,255,0.1);
  border-radius:1rem;
  backdrop-filter:blur(1.2rem);
}

.card:hover{
  transform: translateY(-10px);
}
.page3-cardtitle{
  color: white;
  text-shadow: 0 0 5px #999;
  font-size: 1.75rem;
  -webkit-text-decoration-line: overline; 
  text-decoration-line: overline; 
}
.card p{
  text-shadow: 0 0 15px #000;
  font-size: 0.75rem;
}

/**/
.quarters1{
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url(img/rain-droplets.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

/*VIDEO!!!*/
.showcase
{
  position: relative;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  transition: 0.5s;
  z-index: 2;
}
.showcase.active
{
  right: 300px;
}

.showcase video
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}
.overlay
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #03a9f4;
  mix-blend-mode: overlay;
}
.text
{
  position: relative;
  z-index: 10;
}

.text h2
{
  font-size: 5em;
  font-weight: 800;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}
.text h3
{
  font-size: 4em;
  font-weight: 700;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}
.text p
{
  font-size: 1.1em;
  color: #fff;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}
.text button
{
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 2px;
  transition: 0.2s;
}
.text a:hover
{
  letter-spacing: 6px;
}

@media (max-width: 991px)
{
  .showcase,
  .showcase header
  {
    padding: 40px;
  }
  .text h2
  {
    font-size: 3em;
  }
  .text h3
  {
    font-size: 2em;
  }
}


/*Footer*/







  /*    
  section{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-position: center;
    align-items: center;
  }
  */

  /*
  display: flex; 
  justify-content: center; 
  align items: center; 
  min-height: 100vh, 
  width: 100%;
 */

