* {
    margin: 0;
    padding: 0;
    -webkit-border-size: border-box;
  }
  
  html, body {
    font-family: 'Spectral', serif;
    margin: 0;
    padding: 0;
    background-color: black;
    overflow: hidden;
    font-size: 62.5%;
  }
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .card {
    width: 70%;
    padding: 30px 90px 90px 90px;
    border-radius: 50px;
    position: relative;
  }
  
  .card h2 {
    color: #fff;
    font-size: 60px;
    text-transform: uppercase;
  }
  .returnhome{
    background-color: transparent;
    color: white;
    transition: .6s ease;
    font-size: 18px;
    line-height: 60px;
    
  }
.returnhome:hover{
    cursor: pointer;
    color: red;
    font-size: 22px;
    
}
  
  .card .row {
    position: relative;
    width: 100%;
    display: grid;
    grid: auto / auto auto;
    grid-template-columns: repeat(auto-fit,minmax(40%, 1fr));
    grid-gap: 30px;
  }
  
  .card .row .col {
    position: relative;
    width: 100%;
    margin: 30px 20px 40px 0;
    transition: 0.5s;
  }
  
  .card .row .form-group {
    position: relative;
    width: 100%;
    height: 40px;
    color: #ffffff;
  }
  
  .card .row .form-group input,
  .card .row .form-group textarea {
    position: absolute;
    width: 90%;
    height: 100%;
    background: transparent;
    outline: none;
    font-size: 24px;
    padding: 10px 0 10px 20px;
    border: 5px solid #202020;
    box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.3);
    color: #ffffff;
    border-radius: 50px;
  }
  
  .card .row .form-group label {
    line-height: 40px;
    color: #ffffff;
    font-size: 24px;
    margin: 0 0 0 30px;
    display: block;
    pointer-events: none;
  }
  
  .row .col:nth-child(6) {
    margin-top: 64px;
  }
  
  .card .row .form-group input:focus,
  .card .row .form-group textarea:focus {
    border: 5px solid #ffffff;
    transition: all 0.5s;
  }
  
  .card .row input[type="submit"] {
    border: 5px solid #202020;
    box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.3);
    padding: 10px;
    height: 100%;
    width: 50%;
    cursor: pointer;
    outline: none;
    background: transparent;
    text-transform: uppercase;
    color: #ffffff;
    line-height: 40px;
    font-size: 24px;
    font-weight: 700;
    border-radius: 45px;
    transition: all 0.4s;
  }
  
  .card .row input[type="submit"]:hover {
    border: 5px solid rgba(255, 255, 255, 1);
    color: #ffffff;
    transition: all 0.4s;
  }
  
  @media screen and (max-width: 900px) {
    .card .row {
      grid-template-columns: repeat(auto-fit,minmax(70%, 1fr));
    }
    
    .card {
      padding: 20px;
    }
    
    .card h2 {
      font-size: 34px;
    }
    
    .card .row input[type="submit"] {
      width: 100%;
    }
  }

/*START*/
@import 'https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i';

#container {
    width: 100vw;
    height: 100vh;
    position: relative;
    float: left;
    opacity: 0;
}

#c-container,
#c2-container {
    width: 100vw;
    height: 80vh;
    position: absolute;
    top: 0;
    left: 0;
}

canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
